<div class="jumbotron" style="color:bisque">
  <h1>Wizualizacja danych</h1>
  <h4 style="color: blanchedalmond">Pochodzących z rozproszonej sieci czujników</h4>
</div>
<div>
  <div class="row mx-1 mt-1">
    <div class="col-md-7">
      <canvas id="stage" height="800" width="1380"></canvas>
    </div>

    <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <div class="row m-2">
              <div class="col-8">
                Total Energy Usage
              </div>
              <div class="col-4">
                {{model.totalEnergyUsage/100}} [kWh]
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="row m-2">
              <div class="col-8 ">
                Total Energy Usage without system
              </div>
              <div class="col-4 ">
                {{model.totalEnergyNormalUsage*1.2}} [kWh]
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row m-2">
              <div class="col-8">
                Energy saved
              </div>
              <div class="col-4">
                {{-((model.totalEnergyNormalUsage*1.2) - (model.totalEnergyUsage/100))}} [kWh]
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row m-2">
              <div class="col-8">
                Money saved
              </div>
              <div class="col-4">
                {{((model.totalEnergyNormalUsage*1.2) - (model.totalEnergyUsage/100))*-0.36 }} <br> [zł]
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div style="position: relative; max-height: 460px">
            <canvas id="chart" width="780" height="460"></canvas>
          </div>
        </div>
      </div>
  </div>
</div>
