<div class="jumbotron">
  <h1>Konfiguracja czujnika</h1>
  <h4 class="text-danger">Liczba wykrytych obiektów: {{lamp.TrafficSensor.ObjectCount}}</h4>
</div>
<div class="container">
  <div class="form-group">
    <label for="lamp-pos-x">Współrzędna X</label>
    <input type="number" class="form-control" id="lamp-pos-x" placeholder="Wprowadź wpółrzędna X" [(ngModel)]="posX">
  </div>
  <div class="form-group">
    <label for="lamp-pos-y">Współrzędna Y</label>
    <input type="number" class="form-control" id="lamp-pos-y" placeholder="Wprowadź wpółrzędna Y" [(ngModel)]="posY">
  </div>
  <div class="form-group">
    <label for="lamp-place">Położenie Lampy</label>
    <select id="lamp-place" class="form-control" [(ngModel)]="placeType">
      <option value="0" label="Ulica (Normalny Ruch)"></option>
      <option value="1" label="Ulica (Wzmożony Ruch)"></option>
      <option value="2" label="Niebezpieczne Miejsce"></option>
    </select>
  </div>
  <div class="form-group">
      <label for="lamp-power">Moc [W]</label>
      <input type="number" class="form-control" id="lamp-power" placeholder="Wprowadź moc Lampy [W]" [(ngModel)]="wattPower">
    </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="lamp-enabled" [(ngModel)]="isEnabled">
    <label class="form-check-label" for="lamp-enabled">Włącz Lampę</label>
  </div>
  <div class="form-group mt-2">
    <button class="btn btn-primary btn-block" (click)="registerLamp()">Zarejetruj Lampę</button>
  </div>
  <div class="form-group mt-2">
    <button class="btn btn-primary btn-block" (click)="startSensor()">Włącz</button>
  </div>
</div>
